<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="form-container">
        <div class="left-side"></div>
        <div class="right-side">
            <h1>Create Account</h1>
            <p>Welcome! enter your details and start using our software services!</p>

            <form method="POST">
                <div class="bar">
                    <img src="/img/user.png" alt="">

                     <input type="text" placeholder="Username" id="'username" name="username">
                </div>
                <div class="bar">
                    <img src="/img/email.png" alt="">
                     <input type="email" placeholder="Email Address" id="email" name="email">
                </div>
                <div class="bar">
                    <img src="/img/pass.png" alt="">
                     <input type="password" placeholder="Password" id="password" name="password">
                </div>
                <div class="bar">
                    <img src="/img/pass.png" alt="">
                     <input type="password" placeholder="Confirm Password" id="repPassword" name="repPassword">
                </div>
                <button class="bar btn"  type="submit">
                        Create account
                </button> 
               

            </form>
        </div>
    </div>
    
</body>
</html>